---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>El Geotecnista</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <h1>Acerca de mí</h1>
    <p>Si no recuerdo mal, de esta forma se escriben los párrafos. Yo creo que sí.</p>
    <p>Me pregunto si esto aparecerá en otra línea...</p>
  </body>
</html>