---
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>El Geotecnista</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <h1>Un día escuchando música</h1>
    <p>Últimamente he estado escuchando música nueva, redescubriendo un poco también, pero principalmente discos que no había oído.</p>
    <p>Aquí iría otra línea de texto, jajaja.</p>
  </body>
</html>